/build/
/.cache
/compile_commands.json
/dist/
.DS_Store
/.idea/
/.jib/
**/JTreport/**
**/JTwork/**
.metadata/
NashornProfile.txt
/nbproject/
nbproject/private/
/.project/
.recommenders/
/.settings/
/compile_commands.json
/.cache
/.gdbinit
/.lldbinit
**/core.[0-9]*
*.rej
*.orig
